.box {
  border: 1px solid var(--line-styling-color);
  width: 31rem;
  padding: 2rem;
  margin: 0.5rem 0;
}
.sentence-title {
  margin: 0 0 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.sentence {
  margin: 0 0 0.5rem 0.5rem;
}

@media only screen and (max-width: 768px) {
    .box {
     width: max-content;
    }
  }